// Define variables
$small: 576px;
$medium: 768px;

body {
  font-family: Verdana, sans-serif;
}

// Define mixin
@mixin layout($color, $size: 14px) {
  color: $color;
  $inverted-color: lighten(invert($color), 20%);
  background-color: $inverted-color;
  font-size: $size;
  margin: $size;
  padding: $size;
  line-height: $size * 1.5;
  border: 5px solid $color;
}

//Reset universal
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

main {
  padding: 20px;
}

// Container usando el mixin/include
#container {
  @include layout(darkred);

  @media (min-width: $small) {
    @include layout(darkblue, 16px);
  }

  @media (min-width: $medium) {
    @include layout(darkgreen, 20px);
  }
}

