// Variables
$size: 14px;
$color: #8b0000;
$small: 576px;
$medium: 768px;

body{
    line-height: 1.5;
}


main{
    



}


@mixin layout ($color, $size){
    color: $color;
    background-color:lightness(invert($color, 100%)-20%) ;
    font-size: $size;
    margin: $size;
    padding: $size;

    border: 5px solid $color;



}