* {
    box-sizing: border-box;
    /* border: 1px solid greenyellow; */
}

:root {
    --color-fondo: rgb(0, 0, 0);
    --color-texto: white;
    --color-primario: #8a0000;
  }

body {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.493);
    background-blend-mode: darken;
    background-image: url("https://i.ibb.co/vwmQx52/TCM06734-1-Grande.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}

.blackground {
    /* position: relative; */
    background-color:var(--color-fondo);
    color: var(--color-texto);
}

.logo-container {
    text-align: center;
}

.logo-container img {
    max-width: 60%;
}

.menuNav {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.281);
    margin: 1%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.degradado {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: var(--color-texto);
    /* Texto en blanco para contraste */
    padding: 20px;
    /* Espaciado interior */
}

.degradado-bot {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: var(--color-texto);
    /* Texto en blanco para contraste */
    padding: 20px;
    /* Espaciado interior */
}

.carousel-img {
    width: 100%;
    /* Ajusta el ancho al 100% del contenedor del carrusel */
    height: auto;
    /* Mantiene la proporción de aspecto */
}

.noPadding-bot {
    padding-bottom: 0px !important;
}

.noPadding-tot {
    padding-top: 0px !important;
}

.noPadding-right {
    padding-right: 0px !important;
}

.noPadding-left {
    padding-left: 0px !important;
}


.imgStudio {
    max-width: 300px;
}

.rrss {
    max-width: 65px;
    min-width: 65px;
}

.imagen-cuerpo {
    background-image: url(https://i.ibb.co/5LfL7t9/IMG-20230812-224214.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.divStats {
    margin: 5%;
}

.contenidoStats {
    margin: 5%;
}



.blurStats {
    background-color: rgba(0, 0, 0, 0.274);
    backdrop-filter: blur(6px);
    margin-top: 20%;
    margin-bottom: 20%;
}

.navBlur {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(6px);
    margin: 0px !important;
}

.padding-top {
    padding-top: 5%;
}

.padding-bot {
    padding-bottom: 5%;
}

.zoom-hover {
    transition: transform 0.3s;
    /* Agrega una transición suave */
}

.zoom-hover:hover {
    transform: scale(1.2);
    /* Cambia el tamaño de la imagen en hover (escala al 120%) */
}

.footer {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.308);
    color: var(--color-texto);
  }




/* Media y Container Queries */

@media (max-width: 768px) {
    .logo-container img {
        max-width: 150px;
    }

    .rrss {
        max-width: 50px;
        min-width: 50px;
    }

    h1 {
        font-size: 20px;
    }
}

/* @container (width < 100px) {

    h1 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
    }
} */