/* Definición de variables de colores personalizados */
:root {
  --color-fondo: rgb(0, 0, 0);
  --color-texto: white;
  --color-primario: #8a0000;
}

/* Estilos generales para el fondo y la fuente de la página */
body {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.493);
  background-blend-mode: darken;
  background-image: url("https://i.ibb.co/vwmQx52/TCM06734-1-Grande.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Oswald', sans-serif;
  color: white;
}

/* Estilos para botones de las fechas */
.buttonDate {
  background-color: #8a0000;
  color: white;
  border: none;
  padding: 1% 30%;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos para las fechas */
.date {
  background-color: rgba(0, 0, 0, 0.253);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  padding: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* Estilos en hover para la fecha mas proxima */
.proximo {
  -webkit-box-shadow: 0 0 5px 1px rgba(155, 0, 0, 0.5);
  box-shadow: 0 0 5px 1px rgba(155, 0, 0, 0.5);
}

/* Hover para las fechas */
.date:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
}

/* Alinea el botón segun el tamaño de la pantalla (Siendo modificado en un @media en un futuro) */
.centrarButton {
  text-align: right;
}

/* Borde a la izquierda del contenido de las fechas */
.date-left {
  border-left: 1px solid rgba(255, 255, 255, 0.281);
}

/* Medias queries, no he usado @container ya que me ha sido imposible implementarlos */
@media (max-width: 768px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .centrarButton {
    text-align: center;
  }
}
